p {
  margin-top: 0;
}
.large-defaults {
  letter-spacing: 1px;
}
.medium-defaults {
  letter-spacing: 1px;
}
.small-defaults {
  letter-spacing: 1.4px;
}
.footerText {
  font-family: "apercu-medium", sans-serif;
  font-size: 6vh !important;
  line-height: 8vh !important;
}
.heading0 {
  letter-spacing: 0;
  font-family: "apercu-medium", sans-serif;
  font-size: 20pt !important;
  line-height: 30pt;
}
.heading1 {
  letter-spacing: 0;
  font-family: "apercu-medium", sans-serif;
  font-size: 13pt;
  line-height: 16pt;
}
.heading2 {
  letter-spacing: 0;
  font-family: "apercu-light", sans-serif;
  font-size: 13pt;
  line-height: 16pt;
}
.paragraph,
a {
  letter-spacing: 0.5px;
  font-family: "apercu-medium", sans-serif;
  font-size: 13pt;
  line-height: 16pt;
}
a:hover {
  font-family: "apercu-light", sans-serif;
  letter-spacing: 0.9px;
}
