@font-face {
  font-family: 'shine-pro-bold';
  src: url('/static/fonts/shine-pro-bold-webfont.woff2') format('woff2'), url('/static/fonts/shine-pro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'shine-pro-reg';
  src: url('/static/fonts/shine-pro-reg-webfont.woff2') format('woff2'), url('/static/onts/shine-pro-reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-regular';
  src: url('/static/fonts/Apercu/apercu-regular-desktop-web/apercu-regular.eot');
  src: url('/static/fonts/Apercu/apercu-regular-desktop-web/apercu-regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Apercu/apercu-regular-desktop-web/apercu-regular.woff2') format('woff2'), url('/static/fonts/Apercu/apercu-regular-desktop-web/apercu-regular.woff') format('woff'), url('/static/fonts/Apercu/apercu-regular-desktop-web/apercu-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-medium';
  src: url('/static/fonts/Apercu/apercu-medium-desktop-web/apercu-medium.eot');
  src: url('/static/fonts/Apercu/apercu-medium-desktop-web/apercu-medium.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Apercu/apercu-medium-desktop-web/apercu-medium.woff2') format('woff2'), url('/static/fonts/Apercu/apercu-medium-desktop-web/apercu-medium.woff') format('woff'), url('/static/fonts/Apercu/apercu-medium-desktop-web/apercu-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-light';
  src: url('/static/fonts/Apercu/apercu-light-desktop-web/apercu-light.eot');
  src: url('/static/fonts/Apercu/apercu-light-desktop-web/apercu-light.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Apercu/apercu-light-desktop-web/apercu-light.woff2') format('woff2'), url('/static/fonts/Apercu/apercu-light-desktop-web/apercu-light.woff') format('woff'), url('/static/fonts/Apercu/apercu-light-desktop-web/apercu-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-italic';
  src: url('/static/fonts/Apercu/apercu-italic-desktop-web/apercu-italic.eot');
  src: url('/static/fonts/Apercu/apercu-italic-desktop-web/apercu-italic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Apercu/apercu-italic-desktop-web/apercu-italic.woff2') format('woff2'), url('/static/fonts/Apercu/apercu-italic-desktop-web/apercu-italic.woff') format('woff'), url('/static/fonts/Apercu/apercu-italic-desktop-web/apercu-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.bg-flieder {
  background: #9699c7;
}
.bg-rot {
  background: #dc7e74;
}
.bg-gelb {
  background: #FDE600;
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  p {
    margin-top: 0;
  }
  .large-defaults {
    letter-spacing: 1px;
  }
  .medium-defaults {
    letter-spacing: 1px;
  }
  .small-defaults {
    letter-spacing: 1.4px;
  }
  .footerText {
    font-family: "apercu-medium", sans-serif;
    font-size: 6vh !important;
    line-height: 9vh !important;
  }
  .heading0,
  #impressumContent .content > .sectionTitle {
    letter-spacing: 0;
    font-family: "apercu-medium", sans-serif;
    font-size: 30pt !important;
    line-height: auto;
    margin: 0;
    font-weight: normal;
  }
  .heading1,
  p.intro,
  p.intro a {
    letter-spacing: 0;
    font-family: "apercu-medium", sans-serif;
    font-size: 20pt;
    line-height: 25pt;
    font-weight: normal;
  }
  .heading2,
  .hheading {
    letter-spacing: 0;
    font-family: "apercu-light", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    font-weight: lighter;
  }
  .paragraph,
  .paragraph a,
  a,
  #impressumContent .impressum li {
    letter-spacing: 0.5px;
    font-family: "apercu-medium", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    font-weight: normal;
  }
  .caption,
  .main-caption,
  .image-number {
    letter-spacing: 0.2px;
    font-family: "apercu-medium", sans-serif;
    font-size: 12pt;
    line-height: 14pt;
  }
  .paragraph.quote,
  .paragraph.quote a {
    letter-spacing: 0.5px;
    font-family: "apercu-medium", sans-serif;
    font-size: 18pt;
    line-height: 22pt;
  }
  .paragraph.quote a:hover,
  p.intro a:hover {
    font-family: "apercu-light", sans-serif;
    letter-spacing: 0.9px;
  }
  a:hover,
  #impressumContent .content > .sectionTitle .clickableSectionTitle.islink:hover {
    font-family: "apercu-light", sans-serif;
    letter-spacing: 0.9px;
  }
  .hheading {
    margin-top: 5.66666667px;
    margin-bottom: 34px;
    color: red;
  }
  p {
    margin: 0 0 17px 0;
  }
}
@media (max-width: 600px) {
  .footerText {
    font-family: "apercu-medium", sans-serif;
    font-size: 4vh !important;
    line-height: 5.5vh !important;
  }
  .heading0,
  #impressumContent .content > .sectionTitle {
    letter-spacing: 0;
    font-family: "apercu-medium", sans-serif;
    font-size: 20pt !important;
    line-height: auto;
    margin: 0;
    font-weight: normal;
  }
  .heading1,
  p.intro,
  p.intro a {
    letter-spacing: 0;
    font-family: "apercu-medium", sans-serif;
    font-size: 13pt;
    line-height: 16pt;
    font-weight: normal;
  }
  .heading2,
  .hheading {
    letter-spacing: 0;
    font-family: "apercu-light", sans-serif;
    font-size: 13pt;
    line-height: 16pt;
    font-weight: lighter;
  }
  .paragraph,
  .paragraph a,
  a,
  #impressumContent .impressum li {
    letter-spacing: 0.5px;
    font-family: "apercu-medium", sans-serif;
    font-size: 13pt;
    line-height: 16pt;
    font-weight: normal;
  }
  .caption,
  .main-caption,
  .image-number {
    letter-spacing: 0.5px;
    font-family: "apercu-medium", sans-serif;
    font-size: 11pt;
    line-height: 13pt;
  }
  .paragraph.quote,
  .paragraph.quote a {
    letter-spacing: 0.5px;
    font-family: "apercu-medium", sans-serif;
    font-size: 16pt;
    line-height: 20pt;
  }
  .paragraph.quote a:hover,
  p.intro a:hover {
    font-family: "apercu-light", sans-serif;
    letter-spacing: 0.9px;
  }
  a:hover,
  #impressumContent .content > .sectionTitle .clickableSectionTitle.islink:hover {
    font-family: "apercu-light", sans-serif;
    letter-spacing: 0.9px;
  }
  .hheading {
    margin-top: 3.33333333px;
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 1201px) {
  .footerText {
    font-family: "apercu-medium", sans-serif;
    font-size: 7.5vh !important;
    line-height: 11vh !important;
  }
  .heading0,
  #impressumContent .content > .sectionTitle {
    letter-spacing: 0;
    font-family: "apercu-medium", sans-serif;
    font-size: 32pt !important;
    line-height: auto;
    font-weight: normal;
    margin: 0;
  }
  .heading1,
  p.intro,
  p.intro a,
  .paragraph.quote,
  .paragraph.quote a {
    letter-spacing: 0;
    font-family: "apercu-medium", sans-serif;
    font-size: 22pt;
    line-height: 27pt;
    font-weight: normal;
    margin: 0;
  }
  .heading2,
  .hheading {
    letter-spacing: 0;
    font-family: "apercu-light", sans-serif;
    font-size: 16pt;
    line-height: 20pt;
    margin: 0;
    font-weight: lighter;
  }
  .paragraph,
  .paragraph a,
  a,
  #impressumContent .impressum li {
    letter-spacing: 0.5px;
    font-family: "apercu-medium", sans-serif;
    font-size: 16pt;
    line-height: 20pt;
    font-weight: normal;
  }
  .caption,
  .main-caption,
  .image-number {
    letter-spacing: 0.3px;
    font-family: "apercu-medium", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
  }
  .paragraph.quote a:hover,
  p.intro a:hover {
    font-family: "apercu-light", sans-serif;
    letter-spacing: 0.9px;
  }
  a:hover,
  #impressumContent .content > .sectionTitle .clickableSectionTitle.islink:hover {
    font-family: "apercu-light", sans-serif;
    letter-spacing: 0.9px;
  }
  .hheading {
    margin-top: 6.66666667px;
    margin-bottom: 40px;
  }
  p {
    margin: 0 0 20px 0;
  }
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.paragraph a {
  text-decoration: underline;
}
@media (min-width: 1201px) {
  li:not(last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  li:not(last-child) {
    margin-bottom: 17px;
  }
}
@media (max-width: 600px) {
  li:not(last-child) {
    margin-bottom: 10px;
  }
}
.languageSwitcher {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
}
@media (max-width: 600px) {
  .languageSwitcher {
    left: 0px;
  }
}
input.lang {
  width: 32px;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  font-size: 14px;
  color: black;
  font-weight: normal;
  cursor: pointer;
  text-transform: uppercase;
}
input.lang:disabled,
input.lang:hover,
input.lang:active {
  color: black;
  font-weight: bolder;
}
input.de {
  margin-bottom: 25px;
  margin-right: -4px;
}
input.en {
  margin-top: 25px;
  margin-left: -8px;
}
.divider {
  height: 50px;
  width: 2px;
  background-color: black;
  transform: rotate(45deg);
}
@media (max-width: 600px) {
  .languageSwitcher {
    right: 15px;
    bottom: 5px;
  }
  input.lang {
    font-size: 18px;
    width: auto;
  }
  input.de {
    margin-bottom: 30px;
    margin-right: -18px;
  }
  input.en {
    margin-top: 30px;
    margin-left: -18px;
  }
  .divider {
    height: 60px;
    width: 2px;
    background-color: black;
    transform: rotate(45deg);
  }
}
@media (min-width: 1201px) {
  .pageContent,
  .text-zone,
  .gallery-zone,
  .image-zone,
  .video-zone {
    padding: 20px;
    margin-right: calc(60px * 1.2 - 20px);
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .pageContent,
  .text-zone,
  .gallery-zone,
  .image-zone,
  .video-zone {
    padding: 17px;
    margin-right: calc(50px * 1.2 - 17px);
  }
}
@media (max-width: 600px) {
  .pageContent,
  .text-zone,
  .gallery-zone,
  .image-zone,
  .video-zone {
    padding: 10px;
    margin-right: 40px;
  }
}
@media (max-width: 600px) {
  .workshop .pageContent {
    padding: 10px;
    margin-right: unset;
  }
}
@media (min-width: 1201px) {
  .content-margin-top {
    margin-top: 120px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .content-margin-top {
    margin-top: 102px;
  }
}
@media (max-width: 600px) {
  .content-margin-top {
    margin-top: 60px;
  }
}
@media (min-width: 1201px) {
  .content-padding-top {
    padding-top: 120px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .content-padding-top {
    padding-top: 102px;
  }
}
@media (max-width: 600px) {
  .content-padding-top {
    padding-top: 60px;
  }
}
@media (min-width: 1201px) {
  .text-zone,
  .gallery-zone,
  .image-zone,
  .video-zone {
    padding-bottom: 20px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .text-zone,
  .gallery-zone,
  .image-zone,
  .video-zone {
    padding-bottom: 17px;
  }
}
@media (max-width: 600px) {
  .text-zone,
  .gallery-zone,
  .image-zone,
  .video-zone {
    padding-bottom: 10px;
    margin-right: 40px;
  }
}
@media (max-width: 600px) {
  .workshop .text-zone,
  .workshop .gallery-zone,
  .workshop .image-zone,
  .workshop .video-zone {
    padding-bottom: 10px;
    margin-right: unset;
  }
}
.gallery-zone {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'apercu-light';
  line-height: 20px;
}
@media (min-width: 1201px) {
  .gallery-zone {
    padding: calc(20px - 5px);
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .gallery-zone {
    padding: calc(17px - 5px);
  }
}
@media (max-width: 600px) {
  .gallery-zone {
    padding: calc(10px - 5px);
  }
}
.gallery-zone .image-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 5px;
}
.gallery-zone .image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.gallery-zone .image-container .image-number {
  position: absolute;
  padding: 10px;
  bottom: 0;
  font-family: 'apercu-medium';
}
.gallery-zone .quarter {
  width: calc(25% - 10px);
}
@media (max-width: 600px), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .gallery-zone .quarter {
    width: calc(50% - 10px);
  }
}
.gallery-zone .half {
  width: calc(50% - 10px);
}
.gallery-zone .third {
  width: calc(75% - 10px);
}
@media (max-width: 600px), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .gallery-zone .third {
    width: calc(100% - 10px);
  }
}
.gallery-zone .full {
  width: 100%;
}
.gallery-zone .gallery-captions {
  width: 100%;
  padding-bottom: 17px;
  padding-left: 5px;
}
@media (min-width: 1201px) {
  .gallery-zone .gallery-captions {
    padding-bottom: 20px;
    padding-top: 5px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .gallery-zone .gallery-captions {
    padding-bottom: 17px;
    padding-top: 5px;
  }
}
@media (max-width: 600px) {
  .gallery-zone .gallery-captions {
    padding-bottom: 10px;
    padding-top: 5px;
  }
}
.gallery-zone .gallery-captions .main-caption {
  font-family: 'apercu-light';
}
.gallery-zone .gallery-captions .caption {
  display: inline-block;
  padding-right: 20px;
  font-family: 'apercu-light';
}
.gallery-zone .gallery-captions .caption span {
  font-family: 'apercu-medium';
}
.half .image-container {
  height: 50vh;
}
.half .image-container img {
  min-height: 50vh;
  min-width: 100%;
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .half .image-container {
    height: 35vh;
  }
  .half .image-container img {
    min-height: 35vh;
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .half .image-container {
    height: 27vh;
  }
  .half .image-container img {
    min-height: 27vh;
    min-width: 100%;
  }
}
.big .image-container {
  height: 80vh;
}
.big .image-container img {
  min-height: 80vh;
  min-width: 100%;
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  .big .image-container {
    height: 35vh;
  }
  .big .image-container img {
    min-height: 35vh;
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .big .image-container {
    height: 27vh;
  }
  .big .image-container img {
    min-height: 27vh;
    min-width: 100%;
  }
}
.image-zone {
  box-sizing: border-box;
}
.image-zone img {
  width: 100%;
  height: auto;
}
.video-zone {
  position: relative;
}
.video-zone video {
  width: 100%;
}
#impressumContent .overlay {
  background: #ac3532;
}
#impressumContent .content {
  /**
 * Styles for the close buttons and section titles for all sections
 */
  overflow-y: auto;
  height: 100%;
  background: #f8f8f8;
}
#impressumContent .content > .sectionTitle {
  line-height: inherit !important;
  font-family: "apercu-medium", sans-serif;
  position: fixed;
  z-index: 10;
  display: flex;
}
@media (min-width: 1201px) {
  #impressumContent .content > .sectionTitle {
    left: 20px;
    top: 20px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  #impressumContent .content > .sectionTitle {
    left: 17px;
    top: 17px;
  }
}
@media (max-width: 600px) {
  #impressumContent .content > .sectionTitle {
    left: 10px;
    top: 10px;
  }
}
#impressumContent .content > .sectionTitle .clickableSectionTitle.islink {
  cursor: pointer;
}
#impressumContent .content > .sectionTitle .projectFilter {
  font-family: apercu-light, sans-serif;
}
#impressumContent .content .close {
  position: fixed;
  top: 0;
  background: url("../img/icons_bua/BuA_Icon_x_fett.svg") no-repeat center;
  z-index: 10;
}
@media (min-width: 1201px) {
  #impressumContent .content .close {
    -webkit-background-size: 36px 36px;
    background-size: 36px 36px;
    padding: 18px;
    margin-top: 20px;
    right: 20px;
  }
  #impressumContent .content .close.hasOverlay {
    right: 80px;
  }
  #impressumContent .content .close:hover {
    background: url("../img/icons_bua/BuA_Icon_x.svg") no-repeat center;
    -webkit-background-size: 36px 36px;
    background-size: 36px 36px;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  #impressumContent .content .close {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    padding: 16px;
    margin-top: 17px;
    right: 17px;
  }
  #impressumContent .content .close.hasOverlay {
    right: 67px;
  }
  #impressumContent .content .close:hover {
    background: url("../img/icons_bua/BuA_Icon_x.svg") no-repeat center;
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
  }
}
@media (max-width: 600px) {
  #impressumContent .content .close {
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
    padding: 12.5px;
    margin-top: 10px;
    right: 10px;
  }
  #impressumContent .content .close.hasOverlay {
    right: 50px;
  }
  #impressumContent .content .close:hover {
    background: url("../img/icons_bua/BuA_Icon_x.svg") no-repeat center;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
#impressumContent .impressum {
  margin-right: 20%;
}
#impressumContent .impressum .heading1 {
  margin-top: 40px;
}
#impressumContent .impressum .paragraph:not(:first-child) {
  margin-top: 20px;
}
#impressumContent .impressum .logos {
  display: flex;
  position: relative;
  left: 0;
  width: 100%;
}
@media (min-width: 1201px) {
  #impressumContent .impressum .logos {
    height: 80px;
  }
  #impressumContent .impressum .logos img {
    object-fit: scale-down;
    height: 100%;
  }
}
@media (max-width: 1200px) and (min-width: 601px) and (orientation: landscape), (max-width: 1200px) and (min-width: 601px) and (orientation: portrait) {
  #impressumContent .impressum .logos {
    height: 50px;
  }
  #impressumContent .impressum .logos img {
    object-fit: scale-down;
    height: 100%;
  }
}
@media (max-width: 600px) {
  #impressumContent .impressum .logos {
    flex-direction: column;
  }
  #impressumContent .impressum .logos img {
    object-fit: scale-down;
    width: 80%;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=impressum.css.map */
