@import "./webfonts";
@import "./colors";
@import "common";

#studioContent {
  .overlay, img {
    background: @blau;
  }

  & > .content {
    @import "closeButtonAndSectionTitle";

    overflow-y: auto;
    height: 100%;
    background: @whiteish;
  }

  .studio {

    .headerImage {
      background: url("/static/img/studio/BuA_Portrait_2024.webp") no-repeat top center; 
      background-size: cover;
      width: 100%;
      @media @media-l-medium, @media-large {
        height: 66vh;
      }
      @media @media-p-medium {
        height: 50vh;
      }
      @media @media-small {
        height: 35vh;
      }
    }

    .studioContent {

      &:extend(.pageContent);
      margin-right: 0px;
      .leistungen, .co-working, .kundinnen {
        .heading {
          margin-bottom: @padding-small;
        }

      }


      .description {
        @media @media-large, @media-l-medium {
          margin-right: 20%;
        }
      }

      .serviceDescriptions {
     
        display: flex;

        flex-wrap: wrap;

        @media @media-large {
          gap: @padding-large;
        }
        @media @media-l-medium, @media-p-medium {
          gap: @padding-medium;
        }
        @media @media-small {
          gap: @padding-small * 3;
        }

        @media @media-small, @media-p-medium {
          flex-direction: column;
        }

  
        .serviceDescription {
          flex: 0 0 32%;
          margin: 0px;


          @media @media-l-medium, @media-p-medium {
            flex: 0 0 45%;
          }
          @media @media-small {
            gap: @padding-small * 3;
          }

          
     /*      &:not(:last-child) {
            @media @media-large {
              margin-right: @padding-large;
            }
            @media @media-l-medium, @media-p-medium {
              margin-right: @padding-medium;
            }
            @media @media-small {
              margin-bottom: @padding-small * 3;
            }
          }
 */
          ul {
            margin-top: 0;
            padding-left: 20px;

            li {
              margin: 0;
            }
            ul {
              li {
                list-style-type: disc;
                //list-style: none;
                //margin-left: -20px !important;
                &:before {
                  //content: '\2014';
                  margin-right: 5px;
                }
              }
            }
          }

          @media @media-large {
            .header {
              margin-bottom: @padding-large;
            }
          }
          @media @media-l-medium, @media-p-medium {
            .header {
              margin-bottom: @padding-medium;
            }
          }
          @media @media-small {
            .header {
              margin-bottom: @padding-small;
            }
          }
        }

      }

      .partners{
        overflow: hidden;
        position: relative;
        width: 100%;


        .partners_container{
          display: flex;
          position: relative;
          flex-wrap: nowrap;
          gap: @padding-large;
          position: relative;
          width: 100%;
          transition: left 200ms ease-in-out;
          left:0;

          article{
            width: 30%;
            flex-shrink: 0;

            @media @media-l-medium, @media-p-medium {
              width: 45%;
            }
            @media @media-small {
              width: 80%;
       
            }

            img, .team_noImage {
              background-color: @blau;
              width: 100%;
              height: auto;
              @media @media-large {
                height: 60vh;
                max-height: 600px;
                width: 100%;
              }
              @media @media-l-medium, @media-p-medium {
                height: 50vh;
              }
              @media @media-small {
                height: 33vh; 
         
              }
              object-fit: cover;   
            }
            .team_noImage {
              margin-bottom: @padding-small;
            }

         
          }
       
        }
        
          .navigation {
        
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0 ;
            top: 0;
            display: flex;
            z-index: 5;
            overflow: visible;
            @media @media-small {
              top: 60%;
              bottom: 0%
            }
  
           
  
            .prevImg {
              width: 50%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center center;
              -webkit-background-size: 20px;
              background-size: 20px;
  
              @media @media-large {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_links.png") 50 16, auto;
  
                &:hover {
                  cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_links.png") 50 16, auto;
                }
              }
              @media @media-l-medium, @media-p-medium {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_22_links.png") 46 16, auto;
  
                &:hover {
                  cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_links.png") 46 16, auto;
                }
              }
              @media @media-small {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_links.png") 40 16, auto;
  
                &:hover {
                  cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_links.png") 40 16, auto;
                }
              }
  
              
            }
  
            .nextImg {
              width: 50%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center center;
              -webkit-background-size: 20px;
              background-size: 20px;
              @media @media-large {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_rechts.png") 50 16, auto;
  
                &:hover {
                  cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_rechts.png") 50 16, auto;
                }
              }
              @media @media-l-medium, @media-p-medium {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_22_rechts.png") 46 16, auto;
  
                &:hover {
                  cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_rechts.png") 46 16, auto;
                }
              }
              @media @media-small {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_rechts.png") 40 16, auto;
  
                &:hover {
                  cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_rechts.png") 40 16, auto;
                }
              }
            }
  
            
          }
      }

      .customers {
        @media @media-large {
          margin-top: @padding-large * 3;
        }
        @media @media-l-medium, @media-p-medium {
          margin-top: @padding-medium * 3;
        }
        @media @media-small {
          margin-top: @padding-small * 3;
        }

        .gallery {
          width: 100%;
          display: flex;
          position: relative;
          flex-wrap: wrap;
          justify-content: flex-start;

          .imageContainer {
            display: flex;
            align-items: center;

            @media @media-large {
              height: 150px;
              width: 250px;
              padding-right:30px;
              padding-bottom: 20px;
            }
            @media @media-l-medium, @media-p-medium {
              height: 130px;
              width: 240px;
            }
            @media @media-small {
              height: 100px;
              width: 49%;
            }

            .image {
              height: 100%;
              width: 100%;
            }
          }
        }
      }

    }

    .partners{
      overflow: hidden;
      position: relative;
      width: 100%;


      .partners_container{
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        gap: @padding-large;
        position: relative;
        width: 100%;
        transition: left 200ms ease-in-out;
        left:0;

        article{
          width: 30%;
          flex-shrink: 0;

          @media @media-l-medium {
            width: 45%;
          }
          @media @media-small, @media-p-medium  {
            width: 80%;
        
     
          }

          img, .team_noImage {
            background-color: @blau;
            width: 100%;
            height: auto;
            @media @media-large {
              height: 60vh;
              max-height: 600px;
              width: 100%;
            }
            @media @media-l-medium, @media-p-medium {
              height: 50vh;
            }
            @media @media-small {
              height: 33vh; 
       
            }
            object-fit: cover;   
          }
          figcaption{
            padding: 0 @padding-large;
          }
          .team_noImage {
            margin-bottom: @padding-small;
          }

       
        }
     
      }
      
        .navigation {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;

          @media @media-large {
            height: 60vh;
            max-height: 600px;

          }
          @media @media-l-medium, @media-p-medium {
            height: 50vh;
          }
          @media @media-small {
            height: 33vh; 
     
          }
          display: flex;
          z-index: 5;
          overflow: visible;
          
          @media @media-small {
            top: 0%;
            bottom: 22%
          }

          .prevImg {
            width: 50%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: 20px;
            background-size: 20px;

            @media @media-large {
              cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_links.png") 50 16, auto;

              &:hover {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_links.png") 50 16, auto;
              }
            }
            @media @media-l-medium, @media-p-medium {
              cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_22_links.png") 46 16, auto;

              &:hover {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_links.png") 46 16, auto;
              }
            }
            @media @media-small {
              cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_links.png") 40 16, auto;

              &:hover {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_links.png") 40 16, auto;
              }
            }

            
          }

          .nextImg {
            width: 50%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: 20px;
            background-size: 20px;
            @media @media-large {
              cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_rechts.png") 50 16, auto;

              &:hover {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_rechts.png") 50 16, auto;
              }
            }
            @media @media-l-medium, @media-p-medium {
              cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_22_rechts.png") 46 16, auto;

              &:hover {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_25_rechts.png") 46 16, auto;
              }
            }
            @media @media-small {
              cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_rechts.png") 40 16, auto;

              &:hover {
                cursor: url("/static/img/icons_bua/BuA_Pfeil_150ppi_17_rechts.png") 40 16, auto;
              }
            }
          }

          
        }
    }


    .leistungen, .co-working, .team {
      @media @media-large {
        margin-top: @padding-large * 3;
      }
      @media @media-l-medium, @media-p-medium {
        margin-top: @padding-medium * 3;
      }
      @media @media-small {
        margin-top: @padding-small * 3;
      }

    }

    .studioSection {
      &:extend(.pageContent);
      padding: @padding-small;
    }

    .studio-gallery {
      gap: 10px;
      margin-right: 0px;
      @media @media-small {
          flex-direction: column;
          .half {
            width: auto;
          }
        }
    }
  }

  .overlayPageContent {
    .studioOverlay {
      & > .content {
        h3 {
          margin-top: @padding-medium;
          @media @media-p-medium, @media-small {
            margin-top: @padding-small;
          }
        }
        .design-understandings{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: @padding-medium 2 * @padding-medium;
          padding-bottom: 2 * @padding-large;
          margin-top: 3 * @padding-large;

          @media @media-l-medium, @media-p-medium {
            margin-top: 2 * @padding-medium;
          }

          @media @media-p-medium, @media-small {
            grid-template-columns: repeat(1, 1fr);

          } 

          @media @media-small {
            margin-top: 2 * @padding-small;
            gap: @padding-medium;
          }

          ul{
            border-bottom: 1px solid black;
            padding: 0;
            margin: 0;
            @media @media-small {
              padding-bottom: 5px;
            }
          }
          ul:last-child,
          ul:nth-child(7){
            border-bottom: none;
          }
          ul:nth-child(7){
            @media @media-p-medium, @media-small {
              border-bottom: 1px solid black;
            }
          }
          
          li{
             list-style: none; 
          }

          .heading {
            margin-bottom: @padding-small;
          }

        }

      }
    }
  }
}